#primero{
    background-color: #FFBCAC;
}
#container{

    background: aquamarine;
}
#anime{
    float: right;
    border: solid 1px red;
    
}
#segundo{
    margin: auto;
    float: right;
}
footer{
    background-color: #FFBCAC;
    padding: 0em 0em 0em 50em;
    overflow: hidden;
}
#anime2{
float: right;
}
#video1{
    float: right;
}
#B1{
    margin: auto;
    float: right;
    padding: 0em 0em 0em 4em;
}
#H1{
    background-color: aquamarine;
}